.signin-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 960px;
  background-color: "#FAFAFA";
}

.signin-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Light background for visibility */
  border-right: 1px solid #e9eaeb;
}

.card-layout {
  position: relative;
  width: 469px;
  /* max-width: 470px; */
  margin: 0 auto;
}

.card {
  border-radius: 24px;
  background: var(--Primary-white, #fff);
  box-shadow: 0px 0px 24px 0px rgba(8, 23, 53, 0.16);
}

.card-primary {
  width: 447px;
  height: 170px;
  position: relative;
  z-index: 1;
}

.card-secondary {
  width: 265px;
  height: 164px;
  position: absolute;
  z-index: 2;
  transform: translate(80%, -10%);
}

.card-heading {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding-left: 22px;
}

.card-heading img {
  width: 28px;
  height: 31px;
}

.card-heading h3 {
  color: var(--Dark-color, #081735);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

.line {
  width: 447px;
  height: 1px;
  background: #e6e8f0;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 55%;
}

.stats div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats div span:nth-child(2) {
  color: #171717;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.stats div span:nth-child(1) {
  color: var(--Dark-color, #081735);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

.card-secondary {
}

.card-secondary div:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45%;
}

.card-secondary > div:first-child > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

/* .pie-chart-icon, */
.pie-chart-icon img:nth-of-type(1) {
  position: relative;
  width: 56px;
  height: 56.766px;
  flex-shrink: 0;
}

.pie-chart-icon img:nth-of-type(2) {
  position: absolute;
  transform: translate(0%, 0%);
  width: 28px;
  height: 28.383px;
  flex-shrink: 0;
}

.increase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.increase > img {
  width: 24.328px;
  height: 24px;
  flex-shrink: 0;
}

.increase > span {
  color: var(--Secondary-color, #0049c6);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.card-secondary > div:first-child > div:nth-child(2) {
  color: #171717;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.card-secondary > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 40px;
}

.card-secondary > div:nth-child(2) > h1 {
  margin: 0px;
  color: var(--Dark-color, #081735);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
}

.card-secondary > div:nth-child(2) > h3 {
  margin: 0px;
  color: #171717;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.transparent-logo {
  position: absolute;
  width: 284px;
  height: 319px;
  fill: #818181;
  opacity: 0.4;
  bottom: 0px;
  left: 0px;
}

/* Right container: Fill width, Fixed height (960px) */
.signin-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  padding: 24px;
  /* flex: 1 0 0; */
  background: #fafafa;
}

.auth-container {
  background-color: #ffffff;
  border: 1px solid #e9eaeb;
  border-radius: var(--radius-xl);
  width: 100%;
}

.auth-heading {
  display: flex;
  padding: 36px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid #d5d7da;
  /* width: 672px;
  height: 276px;  */
}

.auth-heading h2 {
  color: #181d27;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 150% */
  margin: 0px;
}

.logo-heading {
  display: flex;
  width: 624px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.756px;
}

.logo h1 {
  color: #181d27;
  font-family: Satoshi;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin: 0px;
}

.toggle-button {
  display: flex;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs, 4px);
  flex: 1 0 0;
  border-radius: var(--radius-md, 8px);
  border: 1px solid #e9eaeb;
  background: #fafafa;
  width: 311px;
  height: 60px;
  color: #414651;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
}

.toggle-button.active {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.12);
  color: #fff;
  background: #1570ef;
}

.auth-type-toggle {
  display: flex;
}

.auth-buttons {
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  /* width: 672px; */
  height: 326.34px;
}

.auth-button {
  display: flex;
  width: 446px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #d8dae5;
  background: #fff;
  cursor: pointer;
}

.auth-button img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.auth-button span {
  color: #171717;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.privacy-notice {
  color: #181d27;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.privacy-notice a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: 700;
  line-height: inherit;
  text-decoration: none;
}
