:root {
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-xl: 12px;
  --radius-full: 9999px;

  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;

  --Line-height-text-md: 24px;

  --Line-height-display-xs: 32px;

  /* Colors */
  --Primary-white: #fff;

  --Colors-Effects-Shadows-shadow-xs: rgba(10, 13, 18, 0.05);
  --Colors-Effects-Shadows-shadow-skeumorphic-inner-border: rgba(
    10,
    13,
    18,
    0.18
  );
  --Colors-Effects-Shadows-shadow-skeumorphic-inner: rgba(10, 13, 18, 0.05);
  --Colors-Effects-Shadows-shadow-xs: rgba(10, 13, 18, 0.05);

  /* Fonts */
  --Font-family-font-family-body: Inter;

  --Font-size-display-xs: 24px;
  --Font-size-text-md: 16px;
}
